build.gradle
Checkout.iml
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
build/*
gradle/*
app/build/*
app.iml
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/*
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/mauricio.xml
.idea/libraries/android_iconify_2_0_7.xml
.idea/libraries/android_iconify_fontawesome_2_0_7.xml
.idea/libraries/appcompat_v7_22_2_0.xml
.idea/libraries/circularprogressview_2_0_1.xml
.idea/libraries/commons_codec_1_9.xml
.idea/libraries/json_simple_1_1.xml
.idea/libraries/realm_android_0_80_3.xml
.idea/libraries/recyclerview_v7_21_0_3.xml
.idea/libraries/support_annotations_22_2_1.xml
.idea/libraries/support_v4_22_2_1.xml
